{% macro render_panel(label, class='panel-default', body_class='panel-body') -%}
<div class="panel {{ class }}">
  <div class="panel-heading">{{ label }}</div>
  <div class="{{ body_class }}">
    {{ caller() }}
  </div>
</div>
{%- endmacro %}
