<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Overview</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Target List</div>
        <!-- Table -->
        <table class="table">
          <tr>
            <th>Target Name</th>
            <th>Magnitude</th>
            <th>Peak SNR</th>
            <th>Median SNR</th>
            <th>Num extracted Lines</th>
            <th>Tags</th>
          </tr>
          {% for tname, target in targets.iteritems() %}
          {% set spec = target.specs.items()[0][1] %}
          <tr>
            <td><a href="{{ url_for('target_view', target_name=tname) }}">{{ tname }}</a></td>
            <td>{{ spec.meta['MAGNITUDE'] }}</td>
            <td>{{ spec.meta['SNR_PEAK'] }}</td>
            <td>{{ spec.meta['SNR_MED'] }}</td>
            <td>{{ spec.meta['LINE_NUM'] }}</td>
            <td>{% for tag in target['tags'] %}<span class="label label-default">{{ tag }}</span>{% endfor %}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
