<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ name }}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-tagsinput.css') }}">
    
    <!-- <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" /> -->
    <!-- <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-tagsinput.js')}}"></script>
    {{ js|safe }}
    {{ css|safe }}
    {% for _,js in plots.iteritems() %}
    {{ js[0]|safe }}
    {% endfor %}
  </head>
  <body>
    {% from "_helpers.html" import render_panel %}
    <div class="container-fluid">
      <h1>{{ name }}</h1>
      <div class="row">
        <div class="col-md-6">
          {% if 'blue' in plots %}
          {% call render_panel('Blue Spectrum', body_class='bokeh') %}
          {{ plots['blue'][1]|safe }}
          {% endcall %}
          {% endif %}
        </div>
        <div class="col-md-6">
          {% if 'red' in plots %}
          {% call render_panel('Red Spectrum', body_class='bokeh') %}
          {{ plots['red'][1]|safe }}
          {% endcall %}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% if 'blue:smooth' in plots %}
          {% call render_panel('Smoothed blue Spectrum', body_class='bokeh') %}
          {{ plots['blue:smooth'][1]|safe }}
          {% endcall %}
          {% endif %}
        </div>
        <div class="col-md-6">
          {% if 'red:smooth' in plots %}
          {% call render_panel('Smoothed red Spectrum', body_class='bokeh') %}
          {{ plots['red:smooth'][1]|safe }}
          {% endcall %}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% if 'blue:continuum' in plots %}
          <div class="panel panel-default">
            <div class="panel-heading">Extracted blue Continuum</div>
            <div class='bokeh'>
              {{ plots['blue:continuum'][1]|safe }}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Extracted red Continuum</div>
            <div class='bokeh'>
              {{ plots['red:continuum'][1]|safe }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          {% if 'blue:sub' in plots %}
          <div class="panel panel-default">
            <div class="panel-heading">Continuum subtracted</div>
            <div class='bokeh'>
              {{ plots['blue:sub'][1]|safe }}
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Continuum subtracted</div>
            <div class='bokeh'>
              {{ plots['red:sub'][1]|safe }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">Database</div>
            <form method="post">
              <!-- <div class="form-group"> -->
              <!--   <label for="tags">Tags</label> -->
              <!--   <input type="text" data-role="tagsinput" class="form-control" id="tags" placeholder="Tags" value="foo,bar"> -->
              <!--   <input type="number" class="form-control" id="redshift" placeholder="Redshift" min="0" max="8" step="0.1"> -->
              <!-- </div> -->
              {% from "_formhelpers.html" import render_field %}
              {{ render_field(form.redshift) }}
              {{ render_field(form.tags) }}
              {{ render_field(form.velocity_line) }}
              <button type="submit" class="btn btn-default">Update</button>
            </form>
          </div>
        </div>
        <div class="col-md-3">
          {% if 'velocity' in plots %}
          {% call render_panel('Velocity', body_class='bokeh') %}
          {{ plots['velocity'][1]|safe }}
          {% endcall %}
          {% endif %}
          <div class="panel panel-default">
            <div class="panel-heading">Redshifted Matches</div>
            <table class="table">
            {% for z,stuff in zmatch|dictsort %}
            {% if stuff %}
            <tr>
              <td>{{ z }}</td>
              <td>{{ stuff|map(attribute='entry')|map(attribute='Comment')|join(',') }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Line Measurements</div>
            <table class="table">
              <tr>
                <th>Line</th>
                <th>Lab</th>
                <th>Obs</th>
                <th>Velocity</th>
                <th>Amplitude</th>
                <th>FWHM G</th>
                <th>FWHM L</th>
                <th>Baseline</th>
              </tr>
              {% for line,(center,amplitude,fwhmG,fwhmL,baseline,fitobj,velocity,name) in line_measurements|dictsort %}
              <tr>
                <td>{{ name }}</td>
                <td>{{ '%0.1f' % line }}</td>
                <td>{{ '%0.1f' % center }}</td>
                <td>{{ '%0.1f' % velocity }}</td>
                <td>{{ '%0.1f' % amplitude }}</td>
                <td>{{ '%0.1f' % fwhmG }}</td>
                <td>{{ '%0.1f' % fwhmL }}</td>
                <td>{{ '%0.1f' % baseline }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Meta Information</div>
            <table class="table">
              {% for key,val in meta.iteritems() %}
              <tr>
                <td>{{ key }}</td>
                <td>{{ val }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {% call render_panel('Zcorr', body_class='bokeh') %}
          {{ plots['zcorr'][1]|safe }}
          {% endcall %}
        </div>
      </div>
    <!-- Latest compiled and minified JavaScript -->
  </body>
</html>
