---
# Which pipeline to use:
pipeline: gp3.pipe.grond_lc

# Where to collect which raw files
collect:
  # which target names we should look at
  target_names:
    {% for tgt in target_names -%}
    - {{ tgt }}
    {% endfor %}
  search_directories:
    - /data1/GROND
    - /afs/ipp/mpe/gamma/instruments/grond/data/
  # Copy raw files to the raw directory
  copy_raw: yes
  # Cache absence of files.. can make file discovery faster
  # won't apply to the last 3 days (in case of some ESO archive foobar)
  cache_absent: yes
  # limit the time range (if the first observation date is known for instance)
  time_range:
    start: {{ start_date }}
    end: today

# How to group the raw files for reduction
sort:
  rules:
    # Example:
    # # Use each TDP on the first night
    # - match: "night=2019-03-01"
    #   stack: per_tdp
    # # Drop a certain OB that's garbage
    # - match: "ob = OB3_2"
    #   drop: yes
    # # On the second night use per-ob stacking
    # - match: "mjd > 1234 & mjd < 1234.5"
    #   stack: per_ob
    # # After a certain MJD stack all obs of a night
    # - match: "mjd > 1234.5 & mjd < 1235"
    #   stack: per_night
    # # Stack two nights of observations
    # - match: "mjd > 1235 & mjd < 1237"
    #   stack: all
    # # Or do some other magic in J band
    # - match: "ob > OB14_3 & ob < OB15_9 & band = J"
    #   stack: all
    # default rule:
    - match: "yes"
      stack: per_ob
  # which bands to consider
  # (if K-band is useless in all observations anyway, we can just ignore it globally instead of cluttering up the match rules)
  bands: grizJHK

# Parameters for the light curve generation
lc:
  # 'default' is the name of the light curve.. can include multiple
  default:
    coords: {{ target_coords }}
    