<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Overview</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <h1>{{ name }}</h1>

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Target List</div>
        <!-- Table -->
        <table class="table">
          <tr>
            <th>Target Name</th>
            <th>Magnitude</th>
            <th>Peak SNR</th>
            <th>Median SNR</th>
            <th>Num extracted Lines</th>
          </tr>
          {% for spec in specs %}
          <tr>
            <td><a href="{{ spec.meta['NAME'] }}.html">{{ spec.meta['NAME'] }}</a></td>
            <td>{{ spec.meta['MAGNITUDE'] }}</td>
            <td>{{ spec.meta['SNR_PEAK'] }}</td>
            <td>{{ spec.meta['SNR_MED'] }}</td>
            <td>{{ spec.meta['LINE_NUM'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
