<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ name }}</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
      <h1>{{ name }}</h1>
      
      <img src="{{ name }}.png" class="img-responsive" alt="Spectrum">
      <img src="{{ name }}_cont.png" class="img-responsive" alt="Low-pass filtered">
      <img src="{{ name }}_nocont.png" class="img-responsive" alt="Low-pass filtered">
      <div class="panel panel-default">
        <div class="panel-heading">Meta Information</div>
        <table class="table">
          {% for key,val in meta.iteritems() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ val }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
